<h4>Errore del server interno. Un refresh farà sparire l'errore!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Nota: se visualizzi questo messaggio non è colpa di Angular</p>
    <p>Cosa fare?</p>
    <ol>
        <li>Apri gli strumenti di sviluppo Chrome</li>
        <li>Ispeziona la rete</li>
        <li>Controlla le richieste fallite</li>
        <li>Esamina le URL di richiesta - verifica che siano corrette</li>
        <li>Riproduci l'errore con Postman - se la risposta è la stessa allora il problema non è su Angular</li>
    </ol>
    <p>Ecco lo stack trace, comincia l'analisi da qui!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>